<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/css/login.css">
</head>
<body>
    <div class="container-fluid">
        <div class="row navbar bg-primary text-white py-2">
            <div class="col d-flex align-items-center">
                <img src="/logo/notes.png" alt="Logo" class="logo mr-2">
            </div>
            <div class="col text-right">
                <a href="/login"><button class="btn btn-primary">Login</button></a>
                <a href="/register"><button class="btn btn-secondary">Signup</button></a>
            </div>
        </div>

        <div class="container mt-5">
            <h2>Registered Users</h2>
            <table class="table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Phone</th>
                        <th>Profession</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody id="userList">
                </tbody>
            </table>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script>
        function fetchUsers() {
            $.ajax({
                url: 'http://localhost:5000/api/users',
                method: 'GET',
                success: function(users) {
                    let userList = '';
                    users.forEach(user => {
                        userList += `
                            <tr>
                                <td>${user.name}</td>
                                <td>${user.email}</td>
                                <td>${user.phone}</td>
                                <td>${user.profession}</td>
                                <td>
                                    <button class="btn btn-info btn-sm" onclick="editUser('${user._id}')">Edit</button>
                                    <button class="btn btn-danger btn-sm" onclick="deleteUser('${user._id}')">Delete</button>
                                </td>
                            </tr>
                        `;
                    });
                    $('#userList').html(userList);
                }
            });
        }

        function editUser(id) {
        }

        function deleteUser(id) {
            $.ajax({
                url: `http://localhost:5000/api/users/${id}`,
                method: 'DELETE',
                success: function(response) {
                    alert(response.message);
                    fetchUsers();
                }
            });
        }

        $(document).ready(function() {
            fetchUsers();
        });
    </script>
</body>
</html> -->


<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
</head>
<body>
    <div class="container-fluid">
        <div class="row navbar bg-primary text-white py-2">
            <div class="col d-flex align-items-center">
                <img src="/logo/notes.png" alt="Logo" class="logo mr-2">
            </div>
            <div class="col text-right">
                <a href="/login"><button class="btn btn-primary">Login</button></a>
                <a href="/register"><button class="btn btn-secondary">Signup</button></a>
            </div>
        </div>

        <div class="container mt-5">
            <h2>Registered Users</h2>
            <table class="table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Phone</th>
                        <th>Profession</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody id="userList">
                </tbody>
            </table>
        </div>
    </div>

    <div class="modal fade" id="editUserModal" tabindex="-1" role="dialog" aria-labelledby="editUserModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editUserModalLabel">Edit User</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form id="editUserForm">
                    <div class="modal-body">
                        <input type="hidden" id="editUserId" name="userId">
                        <div class="form-group">
                            <label for="editName">Name</label>
                            <input type="text" class="form-control" id="editName" name="name">
                        </div>
                        <div class="form-group">
                            <label for="editEmail">Email</label>
                            <input type="email" class="form-control" id="editEmail" name="email">
                        </div>
                        <div class="form-group">
                            <label for="editPhone">Phone Number</label>
                            <input type="text" class="form-control" id="editPhone" name="phone">
                        </div>
                        <div class="form-group">
                            <label for="editProfession">Profession</label>
                            <input type="text" class="form-control" id="editProfession" name="profession">
                        </div>
                        <div class="form-group">
                            <label for="editPassword">Password</label>
                            <input type="password" class="form-control" id="editPassword" name="password">
                        </div>
                        <div class="form-group">
                            <label for="editConfirmPassword">Confirm Password</label>
                            <input type="password" class="form-control" id="editConfirmPassword" name="confirmPassword">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save changes</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <script>
        function fetchUsers() {
            $.ajax({
                url: '/api/users',
                method: 'GET',
                success: function(users) {
                    let userList = '';
                    users.forEach(user => {
                        userList += `
                            <tr>
                                <td>${user.name}</td>
                                <td>${user.email}</td>
                                <td>${user.phone}</td>
                                <td>${user.profession}</td>
                                <td>
                                    <button class="btn btn-info btn-sm" onclick="editUser('${user._id}')">Edit</button>
                                    <button class="btn btn-danger btn-sm" onclick="deleteUser('${user._id}')">Delete</button>
                                </td>
                            </tr>
                        `;
                    });
                    $('#userList').html(userList);
                },
                error: function(xhr) {
                    Swal.fire({
                        icon: 'error',
                        title: 'Oops...',
                        text: 'Something went wrong while fetching users.'
                    });
                }
            });
        }

        function editUser(userId) {
            $.ajax({
                url: `/api/users/${userId}`,
                method: 'GET',
                success: function(user) {
                    $('#editUserId').val(user._id);
                    $('#editName').val(user.name);
                    $('#editEmail').val(user.email);
                    $('#editPhone').val(user.phone);
                    $('#editProfession').val(user.profession);
                    $('#editPassword').val('');
                    $('#editConfirmPassword').val('');

                    $('#editUserModal').modal('show');
                },
                error: function(xhr) {
                    Swal.fire({
                        icon: 'error',
                        title: 'Oops...',
                        text: 'Something went wrong while fetching user details.'
                    });
                }
            });
        }

        function deleteUser(userId) {
            Swal.fire({
                title: 'Are you sure?',
                text: "You won't be able to revert this!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, delete it!'
            }).then((result) => {
                if (result.isConfirmed) {
                    $.ajax({
                        url: `/api/users/${userId}`,
                        method: 'DELETE',
                        success: function(response) {
                            Swal.fire({
                                icon: 'success',
                                title: 'Deleted!',
                                text: 'User has been deleted.'
                            }).then(() => {
                                fetchUsers();
                            });
                        },
                        error: function(xhr) {
                            Swal.fire({
                                icon: 'error',
                                title: 'Oops...',
                                text: 'Something went wrong while deleting the user.'
                            });
                        }
                    });
                }
            });
        }

        $('#editUserForm').submit(function(e) {
            e.preventDefault();
            const formData = $(this).serialize();
            $.ajax({
                url: '/api/register',
                method: 'POST',
                data: formData,
                success: function(response) {
                    Swal.fire({
                        icon: 'success',
                        title: 'Success!',
                        text: 'User details updated successfully.'
                    }).then(() => {
                        $('#editUserModal').modal('hide');
                        fetchUsers();
                    });
                },
                error: function(xhr) {
                    Swal.fire({
                        icon: 'error',
                        title: 'Oops...',
                        text: xhr.responseJSON.message
                    });
                }
            });
        });

        $(document).ready(function() {
            fetchUsers();
        });
    </script>
</body>
</html> -->


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
</head>
<body>
    <div class="container-fluid">
        <div class="row navbar bg-primary text-white py-2">
            <div class="col d-flex align-items-center">
                <img src="/logo/notes.png" alt="Logo" class="logo mr-2">
            </div>
            <div class="col text-right">
                <a href="/logout"><button class="btn btn-secondary">Logout</button></a>
            </div>
        </div>

        <div class="container mt-5">
            <h2>Registered Users</h2>
            <table class="table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Phone</th>
                        <th>Profession</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody id="userList">
                    <!-- User data will be dynamically inserted here -->
                </tbody>
            </table>
        </div>
    </div>

    <!-- User Edit Form Modal -->
    <div class="modal fade" id="editUserModal" tabindex="-1" role="dialog" aria-labelledby="editUserModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editUserModalLabel">Edit User</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form id="editUserForm">
                    <div class="modal-body">
                        <input type="hidden" id="editUserId" name="userId">
                        <div class="form-group">
                            <label for="editName">Name</label>
                            <input type="text" class="form-control" id="editName" name="name">
                        </div>
                        <div class="form-group">
                            <label for="editEmail">Email</label>
                            <input type="email" class="form-control" id="editEmail" name="email">
                        </div>
                        <div class="form-group">
                            <label for="editPhone">Phone Number</label>
                            <input type="text" class="form-control" id="editPhone" name="phone">
                        </div>
                        <div class="form-group">
                            <label for="editProfession">Profession</label>
                            <input type="text" class="form-control" id="editProfession" name="profession">
                        </div>
                        <div class="form-group">
                            <label for="editPassword">Password</label>
                            <input type="password" class="form-control" id="editPassword" name="password">
                        </div>
                        <div class="form-group">
                            <label for="editConfirmPassword">Confirm Password</label>
                            <input type="password" class="form-control" id="editConfirmPassword" name="confirmPassword">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save changes</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
<script>
    function fetchUsers() {
        $.ajax({
            url: '/api/users',
            method: 'GET',
            success: function(users) {
                let userList = '';
                users.forEach(user => {
                    userList += `
                        <tr>
                            <td>${user.name}</td>
                            <td>${user.email}</td>
                            <td>${user.phone}</td>
                            <td>${user.profession}</td>
                            <td>
                                <button class="btn btn-info btn-sm" onclick="editUser('${user._id}')">Edit</button>
                                <button class="btn btn-danger btn-sm" onclick="deleteUser('${user._id}')">Delete</button>
                            </td>
                        </tr>
                    `;
                });
                $('#userList').html(userList);
            },
            error: function(xhr) {
                Swal.fire({
                    icon: 'error',
                    title: 'Oops...',
                    text: 'Something went wrong while fetching users.'
                });
            }
        });
    }

    function editUser(userId) {
        $.ajax({
            url: `/api/users/${userId}`,
            method: 'GET',
            success: function(user) {
                $('#editUserId').val(user._id);
                $('#editName').val(user.name);
                $('#editEmail').val(user.email);
                $('#editPhone').val(user.phone);
                $('#editProfession').val(user.profession);
                $('#editPassword').val('');
                $('#editConfirmPassword').val('');

                $('#editUserModal').modal('show');
            },
            error: function(xhr) {
                Swal.fire({
                    icon: 'error',
                    title: 'Oops...',
                    text: 'Something went wrong while fetching user details.'
                });
            }
        });
    }

    function deleteUser(userId) {
        Swal.fire({
            title: 'Are you sure?',
            text: "You won't be able to revert this!",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Yes, delete it!'
        }).then((result) => {
            if (result.isConfirmed) {
                $.ajax({
                    url: `/api/users/${userId}`,
                    method: 'DELETE',
                    success: function(response) {
                        Swal.fire({
                            icon: 'success',
                            title: 'Deleted!',
                            text: 'User has been deleted.'
                        }).then(() => {
                            fetchUsers();
                        });
                    },
                    error: function(xhr) {
                        Swal.fire({
                            icon: 'error',
                            title: 'Oops...',
                            text: 'Something went wrong while deleting the user.'
                        });
                    }
                });
            }
        });
    }

    $('#editUserForm').submit(function(e) {
        e.preventDefault();
        const formData = $(this).serialize();
        $.ajax({
            url: '/api/update',
            method: 'POST',
            data: formData,
            success: function(response) {
                Swal.fire({
                    icon: 'success',
                    title: 'Success!',
                    text: 'User details updated successfully.'
                }).then(() => {
                    $('#editUserModal').modal('hide');
                    // Redirect to the home page
                    window.location.href = '/'; 
                });
            },
            error: function(xhr) {
                Swal.fire({
                    icon: 'error',
                    title: 'Oops...',
                    text: xhr.responseJSON.message
                });
            }
        });
    });

    $(document).ready(function() {
        fetchUsers();
    });
</script>
</body>
</html>

