body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
}

.logo {
    height: 30px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

.btn-danger {
    background-color: #dc3545;
    border-color: #dc3545;
}

.search-sort-box, .todo-list {
    max-width: 100%;
}

.todo-list h4 {
    color: #007bff;
}

.task {
    background-color: #c2dcf7;
}

.task h5 {
    margin: 0;
}

.task small {
    display: block;
    color: #6c757d;
}

.mt-2 button {
    margin-right: 5px;
}
.todo-header {
    background-color: #007bff;
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 5px;

}

.todo-header h4 {
    color: #ffffff; 
    margin: 0;
}